.skills{
    /* height: 100vh; */
    padding-top: 80px;
}
.skills .header{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.skills-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    column-gap: 50px;
    row-gap: 30px;
}
.skill{
    border-radius: 25px;
}
.skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 13px;
}
.skill-meter{
    width: 100%;
    height: 20px;
    background-color: #d5d5d5;
    border-radius: 25px;
    position: relative;
}
.skill-meter .inner{
    height: 100%;
    background-color: #59b256;
    border-radius: 25px;

}

@media screen and (max-width:768px) {
    .skills{
        padding-top: 80px;
    }
    .skills-wrapper{
        gap:20px;
    }
}
@media screen and (max-width:320px) {
    .skills-wrapper{
        gap:20px;
    }
    .skill{
        width: 300px;
    }
}