.about {
  height: 100vh;
  display: flex;
  align-items: center;
}
.about-left {
  flex: 1;
  padding-left: 80px;
  /* text-align: center; */
}
.main-img {
  width: 250px;
  height: 250px;
}
.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* border-radius: 50%; */
}
.social_icons {
  list-style: none;
  position: relative;
}
.social_icons li {
  position: absolute;
}
.social_icons li:first-child {
  transform: translate(6rem, -20rem);
}
.social_icons li:nth-child(2) {
  transform: translate(17rem, -10rem);
}
.social_icons li:nth-child(3) {
  transform: translate(6rem, 1.2rem);
}
.social_icons li:nth-child(4) {
  transform: translate(-5rem, -10rem);
}
.social_icons li a > img {
  width: 50px;
}
.about-right {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  gap: 30px;
}
.about-title {
  /* margin-bottom: 20px; */
  font-weight: 400;
  font-size: 2rem;
  position: relative;
}
.about-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30%;
  height: 5px;
  border-radius: 5px;
  background-color: #59b256;
  transition: all 1s ease;
}
.about-desc {
  font-weight: 300;
  line-height: 1.8;
  font-size: 1.2rem;
}

.download-btn {
  border: 0;
  cursor: pointer;
  padding: 8px 20px;
  background-color: #59b256;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 200px;
  position: relative;
  overflow: hidden;
}
.download-btn i {
  font-size: 1.1rem;
  margin-right: 8px;
  margin-bottom: 5px;
}

.download-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: var(--gray);
  opacity: 0.2;
  transform: translateX(-200px) skew(-45deg);
  transition: transform 0.9s ease-in-out;
}
.download-btn:hover::after {
  transform: translateX(250px) skew(-45deg);
}
.download-btn:hover > i {
  animation: bounce 1s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .about-left {
    margin: 80px auto 0;
    transform: translateX(-10%);
    flex: unset;
  }
  .main-img {
    width: 200px;
    height: 200px;
  }
  .main-img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  .social_icons li a > img {
    width: 35px;
  }
  .social_icons li:first-child {
    transform: translate(5rem, -15.5rem);
    transform: translate(3.5rem, -15.5rem);
  }
  .social_icons li:nth-child(2) {
    transform: translate(13rem, -8rem);
    transform: translate(10rem, -9rem);
  }
  .social_icons li:nth-child(3) {
    transform: translate(5rem, 1.2rem);
    transform: translate(3.5rem, -2.5rem);
  }
  .social_icons li:nth-child(4) {
    transform: translate(-3rem, -9rem);
  }
}

@keyframes bounce {
  to {
    transform: translateY(15px);
  }
}
@media screen and (max-width: 425px) {
  .about {
    margin-bottom: 50px;
  }
  .about-right {
    gap: 30px;
    padding-top: 50px;
    margin: 20px 0;
  }
  .about-desc {
    line-height: 2;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 375px) {
  .download-btn {
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 0px;
  }
  .about-desc {
    font-size: 1.27rem;
    line-height: 45px;
  }
}
@media screen and (max-width: 320px) {
  .about-desc {
    line-height: 1.8;
  }
}
