.product{
    height: 300px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2),
                0px -1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2),
                0px -1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2),
                0px -1px 3px rgba(0,0,0,0.2);
}
.product.height{
    height: 500px;
}
.app.dark .product{
    box-shadow: 0px 1px 5px rgba(255,255,255,0.4),
                0px -1px 3px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 1px 5px rgba(255,255,255,0.4),
                0px -1px 3px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0px 1px 5px rgba(255,255,255,0.4),
                0px -1px 3px rgba(255,255,255,0.4);
}
.browser-shape{
    height: 20px;
    background-color: rgb(243,242,242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin:3px;
    background-color: #fff;
}
.browser-shape .circle:nth-child(2)
{
    background-color: #59b256;
}
.browser-shape .circle:first-child
{
    background-color: red;
}
.product-img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all 10s ease;
}
/* .product:hover .product-img{
    transform:translateY(-100%);
    transform:translateY(-77vh)
} */

@media screen and (max-width:425px) {
    .product{
        height: 200px;
    }
}

/*
@media screen and (min-width:1025px) {
    .product:nth-child(3) .product-img{
        height: 100%;
    }
    .product:nth-child(3):hover .product-img{
        transform: translateY(0);
    }
}
@media screen and (max-width:1024px) {
    .product-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position:0% 0%;
    }
    .product:nth-child(2) .product-img{
        object-position: 40%;
    }
    .product:nth-child(3) .product-img{
        object-position: 50%;
    }
}
@media screen and (max-width:768px) {
    .product{
        height: 200px;
        width: 200px;
    }
    .product-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position:0% 0%;
    }
    .product:nth-child(3) .product-img{
        object-position: 50%;
    }
}
@media screen and (max-width:425px) {
    .product{
        height: 200px;
        width: 100px;
    }
    .product-img{
        height: 100%;
        object-fit: cover;
        object-position:50% 0%;
    }
    .product:nth-child(2) .product-img{
        object-position: 40% 0%;
    }
    .product:nth-child(3) .product-img{
        object-position: 50% 0%;
    }
}
@media screen and (max-width:375px) {
    .product{
        height: 200px;
        width: 100px;
        margin: 10px 5px;
    }
} */
