.contact{
    height: 100vh;
}
.check-success{
    position:fixed;
    top:30px;
    right:-300px;
    background-color:#006400;
    background-color:#59b256;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:300px;
    border:1px solid #fff;
    border-radius: 5px;
    z-index:999;
  }
  .check-success i{
      padding: 5px;
  }
  .check-success span{
    text-align:center;
    font-weight:bold;
    padding:10px;
    border-left: 2px solid #fff;
  }
  .check-success.show{
    animation:SlideFromRight 2s ease-in-out forwards;
  }
.contact-bg{
    position: absolute;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: #59b256;
    /* z-index: -1; */
}
.contact-wrapper{
    display: flex;  
    align-items: center;
}
.contact-left{
    flex: 1;
}
.contact-info{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.info-icon{
    width: 30px;
    height: 30px;
}
.contact-right{
    flex: 1;
}
.contact-desc{
    font-weight: 200;
    margin-top: 15px;
}
.input-container{
    width: 50%;
    position: relative;
    margin: 20px 0px;
}
.input-container input{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
    transition:all 1s ease;
}
.app.dark .input-container input{
    border-color: #fff;
    color:#fff;
}
.input-container label{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    pointer-events:none;
    font-size:16px;
    transition:all 1s ease;
}
.input-container label span{
    display:inline-block;
    transition: transform 1s ease;
  }
  .input-container label::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color:#59b256;
    transform:scaleX(0);
    transform-origin: 50%;
    transition:all 1s ease;
}

input:focus + label span,
input:valid + label span{
    transform: translateY(-35px);
    color:#59b256;
}
input:focus + label::after,
input:valid  + label::after
{
  transform:scaleX(1);
}

.input-container textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: transparent;
}

.app.dark .input-container textarea{
    border-color: #fff;
    color:#fff;
}

textarea:focus + label span,
textarea:valid + label span{
    transform: translateY(-100px);
    color:#59b256;
    margin-bottom: 10px;
}


textarea:focus + label::after,
textarea:valid  + label::after
{
  transform:scaleX(1);
}

.send-btn{
    border:0;
    cursor: pointer;
    padding:8px 20px;
    background-color: #59b256;
    color:#fff;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}


@keyframes SlideFromRight {
    0%{
      top:30px;
      right:-300px;
    }
    100%{
      top:30px;
      right:30px;
    }
  }

@media screen and (max-width:1024px) {
    .input-container{
        width: 100%;
    }
    .contact-bg{
        z-index: -1;
    }
}
@media screen and (max-width:768px) {
    .contact{
        overflow-y: hidden;
        padding-top: 70px;
    }
    .contact-bg{
        display: none;
    }
}

@media screen and (max-width:425px) {
    .contact{
        height: auto;
        overflow: hidden;
    }
    .contact-title{
        font-size: 1.5rem;
    }
    .contact-wrapper{
        flex-direction: column;
        align-items: stretch;
        gap:20px;
        padding: 50px 0;
    }
    .contact-left .social-icons{
        display: none;
    }
    .input-container{
        width: 100%;
    }
    .contact-right h2{
        margin-top: 10px;
    }
    .contact-bg{
        display: none;
    }
}
/* @media screen and (max-width:320px) {
    .contact-wrapper{
        padding: 50px 15px;
    }
} */
