.products-list{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.products-title{
    font-size: 40px;
    font-weight: 600;
}
.products-desc{
    padding: 20px 20px;
    line-height: 30px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    text-align: center; 
    width: 100%;
}
@media screen and (max-width:450px) {
    .products-list{
        padding: 0 20px;
    }    
    /* .products-title, .products-desc{
        display: none;
    } */
}
@media screen and (max-width:375px) {    
     .products-title{
        display: none;
    }
    .products-desc{
        margin-top: 30px;
        padding:40px 20px 10px 20px;
    }
}
@media screen and (max-width:360px) {
    
    .products-list{
        margin-bottom: 70px;
    } 
    .products-desc{
        margin-top: 150px;
        line-height: 25px;
        padding: 10px;
    }
}
@media screen and (max-width:320px) {
    .products-list{
        margin-top: 100px;
        margin-bottom: 120px;
    }
}