@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#59b256;
}
::selection{
    color:#fff;
    background-color:#202020;
}
.app{
    background-color: #fff;
    transition: all 1s ease-in-out;
}
.app.dark{
    background-color: #222;
    color:#fff;
}
@media screen and (max-width:320px) {
    .app{
        overflow-x: hidden;
    }
}