.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app.dark .nav-container {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.2);
}
.logo {
  width: 30px;
  height: 30px;
}
.logo span {
  font-size: 1.5rem;
}
.logo span:first-child {
  color: var(--main-color);
  margin-right: 5px;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  gap: 20px;
}
.nav-list .social-icons {
  display: none;
}
.list-item a {
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  margin-block: 10px;
  align-items: center;
  overflow: hidden;
}
.list-item a span {
  transform: translateY(50%) rotate(0deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.list-item a::after {
  content: attr(data-title);
  transform: translateY(100%) rotate(20deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.list-item a:hover > span {
  transform: translateY(-100%) rotate(-20deg);
}
.list-item a:hover::after {
  transform: translateY(-50%) rotate(0deg);
}

.list-item a.active {
  color: var(--main-color);
}

/* hamburger menu styles start */
.hammenu {
  width: 30px;
  height: 30px;
  z-index: 1000;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
}
.bars {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.bars .bar {
  width: 30px;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.bars .bar::before,
.bars .bar::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.bars .bar::before {
  transform: translateY(-7px);
}
.bars .bar::after {
  transform: translateY(7px);
}
.hammenu.active .bars .bar {
  transform: translateX(5px);
}
.hammenu.active .bars .bar::before {
  transform: rotate(45deg) translate(5px, -5px);
  background-color: #fff;
  height: 2px;
  width: 20px;
}
.hammenu.active .bars .bar::after {
  transform: rotate(-45deg) translate(5px, 5px);
  background-color: #fff;
  height: 2px;
  width: 20px;
}
/* hamburger menu Styles End */

@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 100px 30px;
    padding: 100px 20px;
    gap: 20px;
    background-color: var(--main-color);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-list.active {
    transform: translateX(0);
  }
  /* .nav-list .toggle{
    display: flex;
  } */
  .nav-list .cta-btn-bg {
    background-color: #fff;
    color: var(--main-color);
    width: 100%;
  }
  .list-item a {
    color: #fff;
  }
  .list-item a.active {
    color: #202020;
  }
  .hammenu {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .nav-list .social-icons {
    display: flex;
    gap: 7px;
  }
}
@media screen and (max-width: 320px) {
  .nav-list {
    padding: 100px 10px;
  }
  .nav-list .social-icons {
    gap: 5px;
  }
}
